/* tag ile kullanımı */
/* p{
    background-color: blue;

}

#parag_id{
    background-color: blue;
}

.parag_class{

    background-color: blue;
} */

/* id > class */

#parag_id{
    font-size: 24px;
    color:red;
    color:#ff0000;
    color:rgb(255, 0, 0);
    color:rgba(255, 0, 0, 0.9);
    color:hsl(0, 100%, 50%);
    color:hsla(0, 100%, 50%, 0.9);
    
    background-color: black!important;
    background-color: blue;
}








